# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
demo-frontend/node_modules
CRMWebApi/.vs
CRMWebApi/CMSWebAPI.DAL/bin
CRMWebApi/CMSWebAPI.DAL/obj
CRMWebApi/CMSWebAPI.Models/bin
CRMWebApi/CMSWebAPI.Models/obj
CRMWebApi/CMSWebAPI/obj
CRMWebApi/packages
CRMWebApi/CMSWebAPI/bin
CRMWebApi/CMSWebAPI/Obj
